.navbarContainer {
  display: flex;
  border: white solid;
  
  justify-content: space-evenly;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.logo {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  width: 60%;
}
.navbar li {
  list-style: none;
}
.navbar li:hover {
  font-size: 2rem;
  transition: 0.1s;
  font-weight: 500;
  cursor: pointer;
}
.cart {
  display: flex;
  align-items: center;
}
.count {
  margin-left: 1rem;
  font-weight: 300;
}